<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zrmall.o2o.mapper.ShopMapper">
	<resultMap id="BaseResultMap" type="com.zrmall.o2o.entity.Shop">
		<id column="shop_id" jdbcType="INTEGER" property="shopId" />
		<result column="owner_id" jdbcType="INTEGER" property="ownerId" />
		<result column="area_id" jdbcType="INTEGER" property="areaId" />
		<result column="shop_category_id" jdbcType="INTEGER" property="shopCategoryId" />
		<result column="shop_name" jdbcType="VARCHAR" property="shopName" />
		<result column="shop_desc" jdbcType="VARCHAR" property="shopDesc" />
		<result column="shop_addr" jdbcType="VARCHAR" property="shopAddr" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="shop_img" jdbcType="VARCHAR" property="shopImg" />
		<result column="priority" jdbcType="INTEGER" property="priority" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="last_edit_time" jdbcType="TIMESTAMP" property="lastEditTime" />
		<result column="enable_status" jdbcType="INTEGER" property="enableStatus" />
		<result column="advice" jdbcType="VARCHAR" property="advice" />
	</resultMap>
	<resultMap type="com.zrmall.o2o.entity.Shop" id="shopMap">
		<id column="shop_id"  property="shopId" />
		<result column="shop_name" property="shopName" />
		<result column="shop_desc" property="shopDesc" />
		<result column="shop_addr" property="shopAddr" />
		<result column="phone" property="phone" />
		<result column="shop_img" property="shopImg" />
		<result column="priority" property="priority" />
		<result column="create_time" property="createTime" />
		<result column="last_edit_time" property="lastEditTime" />
		<result column="enable_status" property="enableStatus" />
		<result column="advice" property="advice" />
		<association property="area" column="area_id"
			javaType="com.zrmall.o2o.entity.Area">
			<id column="area_id" property="areaId" />
			<result column="area_name" property="areaName" />
		</association>
		<association property="shopCategory" column="shop_category_id"
			javaType="com.zrmall.o2o.entity.ShopCategory">
			<id column="shop_category_id" property="shopCategoryId" />
			<result column="shop_category_name" property="shopCategoryName" />
		</association>
		<association property="owner" column="user_id"
			javaType="com.zrmall.o2o.entity.PersonInfo">
			<id column="user_id" property="userId" />
			<result column="name" property="name" />
		</association>
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value}
									and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem"
										open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		shop_id, owner_id, area_id, shop_category_id, shop_name,
		shop_desc, shop_addr,
		phone,
		shop_img, priority, create_time,
		last_edit_time, enable_status, advice
	</sql>
	<select id="selectByExample" parameterType="com.zrmall.o2o.entity.ShopExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from tb_shop
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_shop
		where shop_id = #{shopId,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		tb_shop
		where shop_id = #{shopId,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample" parameterType="com.zrmall.o2o.entity.ShopExample">
		delete from tb_shop
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" useGeneratedKeys="true" keyColumn="shop_id"
		keyProperty="shopId" parameterType="com.zrmall.o2o.entity.Shop">
		insert into tb_shop (shop_id,
		owner_id, area_id,
		shop_category_id, shop_name, shop_desc,
		shop_addr,
		phone, shop_img,
		priority, create_time, last_edit_time,
		enable_status,
		advice)
		values (#{shopId,jdbcType=INTEGER},
		#{owner.userId,jdbcType=INTEGER},
		#{area.areaId,jdbcType=INTEGER},
		#{shopCategory.shopCategoryId,jdbcType=INTEGER},
		#{shopName,jdbcType=VARCHAR}, #{shopDesc,jdbcType=VARCHAR},
		#{shopAddr,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
		#{shopImg,jdbcType=VARCHAR},
		#{priority,jdbcType=INTEGER},
		#{createTime,jdbcType=TIMESTAMP}, #{lastEditTime,jdbcType=TIMESTAMP},
		#{enableStatus,jdbcType=INTEGER}, #{advice,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.zrmall.o2o.entity.Shop">
		insert into tb_shop
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="shopId != null">
				shop_id,
			</if>
			<if test="ownerId != null">
				owner_id,
			</if>
			<if test="areaId != null">
				area_id,
			</if>
			<if test="shopCategoryId != null">
				shop_category_id,
			</if>
			<if test="shopName != null">
				shop_name,
			</if>
			<if test="shopDesc != null">
				shop_desc,
			</if>
			<if test="shopAddr != null">
				shop_addr,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="shopImg != null">
				shop_img,
			</if>
			<if test="priority != null">
				priority,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="lastEditTime != null">
				last_edit_time,
			</if>
			<if test="enableStatus != null">
				enable_status,
			</if>
			<if test="advice != null">
				advice,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="shopId != null">
				#{shopId,jdbcType=INTEGER},
			</if>
			<if test="ownerId != null">
				#{ownerId,jdbcType=INTEGER},
			</if>
			<if test="areaId != null">
				#{areaId,jdbcType=INTEGER},
			</if>
			<if test="shopCategoryId != null">
				#{shopCategoryId,jdbcType=INTEGER},
			</if>
			<if test="shopName != null">
				#{shopName,jdbcType=VARCHAR},
			</if>
			<if test="shopDesc != null">
				#{shopDesc,jdbcType=VARCHAR},
			</if>
			<if test="shopAddr != null">
				#{shopAddr,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="shopImg != null">
				#{shopImg,jdbcType=VARCHAR},
			</if>
			<if test="priority != null">
				#{priority,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastEditTime != null">
				#{lastEditTime,jdbcType=TIMESTAMP},
			</if>
			<if test="enableStatus != null">
				#{enableStatus,jdbcType=INTEGER},
			</if>
			<if test="advice != null">
				#{advice,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.zrmall.o2o.entity.ShopExample"
		resultType="java.lang.Long">
		select count(*) from tb_shop
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update tb_shop
		<set>
			<if test="record.shopId != null">
				shop_id = #{record.shopId,jdbcType=INTEGER},
			</if>
			<if test="record.ownerId != null">
				owner_id = #{record.ownerId,jdbcType=INTEGER},
			</if>
			<if test="record.areaId != null">
				area_id = #{record.areaId,jdbcType=INTEGER},
			</if>
			<if test="record.shopCategoryId != null">
				shop_category_id =
				#{record.shopCategoryId,jdbcType=INTEGER},
			</if>
			<if test="record.shopName != null">
				shop_name = #{record.shopName,jdbcType=VARCHAR},
			</if>
			<if test="record.shopDesc != null">
				shop_desc = #{record.shopDesc,jdbcType=VARCHAR},
			</if>
			<if test="record.shopAddr != null">
				shop_addr = #{record.shopAddr,jdbcType=VARCHAR},
			</if>
			<if test="record.phone != null">
				phone = #{record.phone,jdbcType=VARCHAR},
			</if>
			<if test="record.shopImg != null">
				shop_img = #{record.shopImg,jdbcType=VARCHAR},
			</if>
			<if test="record.priority != null">
				priority = #{record.priority,jdbcType=INTEGER},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.lastEditTime != null">
				last_edit_time =
				#{record.lastEditTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.enableStatus != null">
				enable_status = #{record.enableStatus,jdbcType=INTEGER},
			</if>
			<if test="record.advice != null">
				advice = #{record.advice,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update tb_shop
		set shop_id = #{record.shopId,jdbcType=INTEGER},
		owner_id = #{record.ownerId,jdbcType=INTEGER},
		area_id =
		#{record.areaId,jdbcType=INTEGER},
		shop_category_id =
		#{record.shopCategoryId,jdbcType=INTEGER},
		shop_name =
		#{record.shopName,jdbcType=VARCHAR},
		shop_desc =
		#{record.shopDesc,jdbcType=VARCHAR},
		shop_addr =
		#{record.shopAddr,jdbcType=VARCHAR},
		phone =
		#{record.phone,jdbcType=VARCHAR},
		shop_img =
		#{record.shopImg,jdbcType=VARCHAR},
		priority =
		#{record.priority,jdbcType=INTEGER},
		create_time =
		#{record.createTime,jdbcType=TIMESTAMP},
		last_edit_time =
		#{record.lastEditTime,jdbcType=TIMESTAMP},
		enable_status =
		#{record.enableStatus,jdbcType=INTEGER},
		advice =
		#{record.advice,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.zrmall.o2o.entity.Shop">
		update tb_shop
		<set>
			<if test="ownerId != null">
				owner_id = #{ownerId,jdbcType=INTEGER},
			</if>
			<if test="areaId != null">
				area_id = #{areaId,jdbcType=INTEGER},
			</if>
			<if test="shopCategoryId != null">
				shop_category_id = #{shopCategoryId,jdbcType=INTEGER},
			</if>
			<if test="shopName != null">
				shop_name = #{shopName,jdbcType=VARCHAR},
			</if>
			<if test="shopDesc != null">
				shop_desc = #{shopDesc,jdbcType=VARCHAR},
			</if>
			<if test="shopAddr != null">
				shop_addr = #{shopAddr,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="shopImg != null">
				shop_img = #{shopImg,jdbcType=VARCHAR},
			</if>
			<if test="priority != null">
				priority = #{priority,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastEditTime != null">
				last_edit_time = #{lastEditTime,jdbcType=TIMESTAMP},
			</if>
			<if test="enableStatus != null">
				enable_status = #{enableStatus,jdbcType=INTEGER},
			</if>
			<if test="advice != null">
				advice = #{advice,jdbcType=VARCHAR},
			</if>
		</set>
		where shop_id = #{shopId,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zrmall.o2o.entity.Shop">
		update tb_shop
		<set>
			<if test="owner !=null">
				owner_id = #{owner.userId,jdbcType=INTEGER},
			</if>
			<if test="area != null">
				area_id = #{area.areaId,jdbcType=INTEGER},
			</if>
			<if test="shopCategory != null">
				shop_category_id =
				#{shopCategory.shopCategoryId,jdbcType=INTEGER},
			</if>
			<if test="shopName != null">
				shop_name = #{shopName,jdbcType=VARCHAR},
			</if>
			<if test="shopDesc != null">
				shop_desc = #{shopDesc,jdbcType=VARCHAR},
			</if>
			<if test="shopAddr != null">
				shop_addr = #{shopAddr,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="shopImg != null">
				shop_img = #{shopImg,jdbcType=VARCHAR},
			</if>
			<if test="priority != null">
				priority = #{priority,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="lastEditTime != null">
				last_edit_time = #{lastEditTime,jdbcType=TIMESTAMP},
			</if>
			<if test="enableStatus != null">
				enable_status = #{enableStatus,jdbcType=INTEGER},
			</if>
			<if test="advice != null">
				advice = #{advice,jdbcType=VARCHAR},
			</if>
		</set>
		where shop_id = #{shopId,jdbcType=INTEGER}
	</update>
	<select id="queryById" parameterType="Long"
		resultType="com.zrmall.o2o.entity.Shop">
		select s.shop_id,
		s.shop_name,
		s.shop_desc,
		s.shop_addr,
		s.phone,
		s.shop_img,
		s.priority,
		s.create_time,
		s.last_edit_time,
		s.enable_status,
		s.advice,
		a.area_id,
		a.area_name,
		sc.shop_category_id,
		sc.shop_category_name
		from tb_shop s,
		tb_area a,
		tb_shop_category sc
		WHERE
		s.area_id=a.area_id
		AND
		s.shop_category_id = sc.shop_category_id
		AND
		s.shop_id = #{shopId}
	</select>
</mapper>